#:schema ./alca-config.schema.json

includes = ['./.alca.*.toml']
image = "nixos/nix"

workdir_exclude = [
  "out",
  "out_*",
  "vendor",
  "result",
]

mounts = [
  ".alca.cache/go:/root/go",
  ".alca.cache/mise:/root/.local/share/mise",
]

# Nix multi-user daemon requires SETUID/SETGID for sandbox builds
caps = ["SETUID", "SETGID"]

[commands]
up = "[ -f flake.nix ] && exec nix develop --profile /nix/var/nix/profiles/devshell --command true"
enter = "[ -f flake.nix ] && exec nix develop --profile /nix/var/nix/profiles/devshell --command"

[resources]
memory = "16g"
cpus = 8

[envs]
NIXPKGS_ALLOW_UNFREE = "1"
NIX_CONFIG = """
extra-experimental-features = nix-command flakes
"""

[network]
lan-access = []