#:schema ./alca-config.schema.json

image = "nixos/nix"
runtime = "docker"

mounts = [".alca.cache/go:/root/go", ".alca.cache/mise:/root/.local/share/mise"]

[commands]
up = "[ -f flake.nix ] && exec nix develop --profile /nix/var/nix/profiles/devshell --command true"
enter = "[ -f flake.nix ] && exec nix develop --profile /nix/var/nix/profiles/devshell --command"

[resources]
memory = "16g"
cpus = 8

[envs]
TERM = "${TERM}"
LC_LANG = { value = "${LC_LANG}", override_on_enter = true }

NIXPKGS_ALLOW_UNFREE = "1"
NIX_CONFIG = """
extra-experimental-features = nix-command flakes
"""
