.ignores
.claude/settings.local.json
zhistory
vendor
result
out
out_*

.alca
.alca.cache
.alca.local.toml

docs/commands/*
!docs/commands/_index.md

.hugo_build.lock
.hugo/*
!.hugo/assets
!.hugo/static
!.hugo/layouts

.custom-gcl.yml